<%= form_for [@coin_portfolio] do |f| %>
  <div class="form-row align-items-center">
    <%= render :partial => "partials/coin_form", locals: {f: f} %>
    <%= f.submit 'Confirm', class: 'btn btn-primary margin-top-7px' %>
  </div>
<% end %>
