<div class="row">
  <div class="col-sm-4 offset-sm-4">
  <h1>Edit portfolio form</h1>
    <%= form_for [@portfolio] do |f| %>
      <%= render partial: 'partials/portfolio_form', locals: {f: f} %>
    <% end %>
  </div>
</div>
