<h1>All Portfolios</h1>
<%= link_to 'Create Portfolio', new_portfolio_path, class: 'nav-link' if logged_in? %>
<table class="table">
  <thead>
  <tr>
    <th class="border-top-0">Portfolio name</th>
    <th class="border-top-0">Portfolio owner</th>
    <th class="border-top-0">Amount of coins</th>
    <th class="border-top-0">Total value</th>
  </tr>
  </thead>
  <tbody>
    <%= render :partial => "partials/portfolio", :collection => @portfolios %>
  </tbody>
</table>