<h1>Welcome to BlockFolio</h1>

<ul>
  <% @portfolios.each do |portfolio| %>
    <li>Portfolio name: <%= portfolio.name %></li>
    <li>Portfolio owner:<%= portfolio.user.email %></li>
    <hr>
  <% end %>
</ul>
<%= link_to 'Create new portfolio', new_portfolio_path %>