<h1><%= @portfolio.name %></h1>
<h2><%= @portfolio.user.email %></h2>
<ul>
  <% @portfolio.coins.each do |coin| %>
    <li><%= coin.name %></li>
  <% end %>
</ul>
<p><%= link_to 'See all portfolios', portfolios_path %></p>