<% if owner?(portfolio) %>
  <%= link_to "#{display_owner(portfolio)}", user_portfolios_path(portfolio.user) %> <span class="badge badge-pill badge-secondary">Your Portfolio</span>
<% else %>
  <%= link_to "#{display_owner(portfolio)}", user_portfolios_path(portfolio.user) %>
<% end %>