<h1>Most valued portfolios</h1>
<%= link_to 'Create Portfolio', new_portfolio_path, class: 'nav-link' if logged_in? %>
<table class="table">
  <thead>
    <tr>
      <th class="border-top-0">#</th>
      <th class="border-top-0">Portfolio name</th>
      <th class="border-top-0">Portfolio owner</th>
      <th class="border-top-0">Amount of coins</th>
      <th class="border-top-0">Total value</th>
    </tr>
  </thead>
  <tbody>
    <%= render :partial => "partials/top_portfolios", :collection => @top_portfolios, as: :portfolio %>
  </tbody>
</table>